@font-face {
  font-family: myFont;
  src: url(/Fonts/Catamaran-Black.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none;
  scroll-behavior: smooth;
}
#navbar {
  width: 100%;
  height: 80px;
  /* border: 1px solid red; */
  background-color: #151515;
  position: fixed;
  border-bottom: 5px solid #f4df4eff;
}
#navbar img {
  margin-left: 20px;
  height: 100%;
}
#navbar ul {
  float: right;
  margin-right: 20px;
}
#navbar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0px 10px;
}
#navbar ul li a {
  color: white;
  font-weight: 500;
  font-size: 17px;
}
#navbar ul li a:hover {
  padding: 7px 7px;
  background-color: #323030;
  border-radius: 5px;
}
#navbar ul li a span {
  color: #0aed87;
}
.btn {
  cursor: pointer;
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}
#check {
  display: none;
}
#s1 {
  background-color: #29272a;
  color: #ffffff;
  /* height: 10000px; */
}
#about {
  width: 80%;
  /* border: 1px solid red; */
  margin: auto;
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
#about > div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  line-height: 30px;
}
#about > div > div {
  text-align: center;
  /* gap: 22px; */
  /* border: 1px solid red; */
}
#about > div > div > button {
  /* margin: 20px 20px; */
  margin-top: 20px;
  padding: 10px 35px;
  border-radius: 8px;
  background-color: #f4df4e;
  border: none;
}
#about > div > div > button > a {
  text-decoration: none;
  color: #151515;
  font-size: 17px;
  font-weight: bold;
}
#about > div > div > p {
  margin-left: 20px;
  font-size: 22px;
  font-weight: 400;
  color: #f6f6f6;
}
#about img {
  height: 70%;
  border-radius: 15px;
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ff7b00 0%,
    #ffa200 29%,
    #fff301 67%,
    #56c123 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  /* font-size: 35px;
  font-weight: bold;
  font-family: sans-serif; */
  font-family: myFont;
  font-size: 41px;
  line-height: 73.6px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: initial;
  font-optical-sizing: auto;
}
#stats,
#skills,
#projects,
#contact {
  padding-top: 80px;
}
/* #st,
#sk,
#pt,
#ct {
  border: 1px solid pink; */
/* height: 500px;
} */
/* #skillhead {
} */
#st {
  margin-top: 50px;
}
.sk {
  margin-top: 40px;
  /* text-align: center;  */
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
/* .skill_disp {
  border: 1px solid red;
} */
.skill_disp > h2 {
  font-size: 25px;
}
.skill_disp > h1 {
  font-size: 35px;
}
.skill_disp {
  gap: 10px;
}
.skill_disp a {
  color: white;
}
.skill_disp > img {
  width: 20%;
  /* border: 1px solid red; */
  /* background-color: #151515; */
}
.head {
  text-align: center;
  font-family: myFont;
  font-size: 63px;
  line-height: 73.6px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: initial;
  font-optical-sizing: auto;
  color: #f6f6f6;
  margin-top: 50px;
  /* margin-bottom: 20px; */
}
#nums {
  width: 80%;
  /* border: 1px solid red; */
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  /* border-radius: 5px; */
}
#nums > div {
  border-radius: 15px;
  /* border: 1px solid pink; */
  box-shadow: rgb(68, 63, 52) 0px 5px 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#nums a {
  text-decoration: none;
  color: white;
}
#nums > div > p {
  font-size: 17px;
}
.calendar {
  width: 50%;
  border: 2px solid red;
}
#clan {
  border: none;
}
.streak {
  /* border: 1px solid pink; */
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.streak > img {
  width: 50%;
  margin: auto;
}
#pt {
  width: 80%;
  /* border: 1px solid red; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
.card {
  /* border: 1px solid pink; */
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgb(255, 255, 255) 0px 0px 0px 1px;
  padding: 10px 10px;
  border-radius: 10px;
}
.left > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.left {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .right {
  border: 1px solid blue;
} */
.project_details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.project_link > button {
  margin-top: 5px;
  padding: 10px 20px;
  background-color: #f4df4e;
  border: none;
  border-radius: 5px;
}
.project_link > button > a {
  text-decoration: none;
  color: #151515;
  font-size: 15px;
  font-weight: bold;
}
#ct {
  width: 90%;
  height: auto;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
#ct > div {
  /* border: 1px solid pink; */
  padding-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
/* #ct > div > img {
  height: 50%;
} */
#ct > div > p {
  font-weight: bold;
  font-size: 15px;
}
#fotter {
  padding: 20px 0px;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #4c3a69;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@media screen and (max-width: 884px) and (min-width: 335px) {
  #navbar ul li a {
    font-size: 16px;
  }
  .btn {
    display: block;
  }
  #navbar img {
    margin-left: 20px;
  }
  #navbar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #949398ff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  #navbar ul li {
    display: block;
    margin: 60px 0px;
    line-height: 15px;
  }
  #navbar ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #about > div:nth-child(2) {
    grid-area: 1/1/2/2;
  }
  #about > div:nth-child(2) > img {
    padding: 0px;
  }
  #about {
    padding-top: 50px;
    grid-template-columns: repeat(1, 1fr);
  }
  .sk {
    grid-template-columns: repeat(2, 1fr);
    /* margin-top: 50px; */
  }
  .head {
    margin-top: 50px;
  }
  #stats,
  #skills,
  #projects,
  #contact {
    margin-top: 80px;
  }
  #nums {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .calendar {
    width: 70%;
  }
  .streak > img {
    width: 100%;
  }
  .card {
    grid-template-columns: repeat(1, 1fr);
  }
  #ct {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
  #ct > div > p {
    font-size: 12px;
  }
  #fotter {
    font-size: 10px;
  }
}
@media screen and (max-width: 335px) and (min-width: 100px) {
  #navbar ul li a {
    font-size: 16px;
  }
  .btn {
    display: block;
  }
  #navbar img {
    margin-left: 20px;
  }
  #navbar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #949398ff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  #navbar ul li {
    display: block;
    margin: 60px 0px;
    line-height: 15px;
  }
  #navbar ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #about > div:nth-child(2) {
    grid-area: 1/1/2/2;
  }
  #about > div:nth-child(2) > img {
    padding: 0px;
    height: 80%;
    width: 80%;
  }
  #about {
    grid-template-columns: repeat(1, 1fr);
  }
  .sk {
    grid-template-columns: repeat(1, 1fr);
    /* gap: 5px; */
  }
  #nums {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }
  .calendar {
    width: 90%;
  }
  .streak > img {
    width: 100%;
  }
  .card {
    grid-template-columns: repeat(1, 1fr);
  }
  #ct {
    grid-template-columns: repeat(1, 1fr);
  }
  #fotter {
    font-size: 10px;
  }
}
